

/*services*/

/* .services{
    width: 100%;
    height: auto;
    margin: 35px 0;
}

.services .services_box{
    width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.services .services_box .services_card{
    text-align: center;
    width: 310px;
    height: auto;
    box-shadow: 0 0 8px #696969;
    padding: 15px 10px;
}

.services .services_box .services_card i{
    color: #696969;
    font-size: 45px;
    margin-bottom: 15px;
    cursor: pointer;
}

.services .services_box .services_card h3{
    margin-bottom: 10px;
} */

/* services */
.servicer{
    border-right: 4px solid rgb(195, 193, 193) ;
    font-weight: 500;
    height: 100px;
    margin-top: 25px;
   
    
}

/* Testimonial Section */



body{
    background-color: #FFCC80;
  }

  hr{
    border-top: 2px dashed black;
    background-color: #fff;
  }

  /* cart section */
  
  hu{
    margin-top: 40px;
  }
  .card {
    border: 2px solid red;
    margin: 5px 4px;
    transition: .6s ease;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-block {
     padding: 10px;
  }
  
  .scrollcards {
    background-color: #fff;
    overflow: auto;
    white-space: nowrap;
  }
  
  ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
      background: transparent;
  }
  
  div.scrollcards .card {
      display: inline-block;
      padding: 14px;
      text-decoration: none;
      height: auto; 
      width: 300px;
  }


  /* cart section images  */
  .cartimages{
    height: 150px; width: 350 px;
  
  }

   /* cart headings  */
   .cart-heading{
    color:black
   }






  